{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": { "jasmine": true },
  "rules": {
    "object-curly-newline": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": 0,
    "react/no-multi-comp": 0
  },
  "globals": {
    "jest": "writeable"
  }
}
